Magento_Version2_NAV_Integration WIP/Web References/SalesPrices/SalesLineDiscounts.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/saleslinediscounts" targetNamespace="urn:microsoft-dynamics-schemas/page/saleslinediscounts" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/saleslinediscounts" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Sales_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Customer" />
          <xsd:enumeration value="Customer_Disc_Group" />
          <xsd:enumeration value="All_Customers" />
          <xsd:enumeration value="Campaign" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Item" />
          <xsd:enumeration value="Item_Disc_Group" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="SalesLineDiscounts">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SalesCodeFilterCtrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StartingDateFilter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CodeFilterCtrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SalesCodeFilterCtrl2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Type" type="tns:Sales_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Type" type="tns:Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Variant_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Currency_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_of_Measure_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Minimum_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_Discount_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Starting_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ending_Date" type="xsd:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SalesLineDiscounts_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="SalesLineDiscounts" type="tns:SalesLineDiscounts" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="SalesLineDiscounts_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="SalesTypeFilter" />
          <xsd:enumeration value="SalesCodeFilterCtrl" />
          <xsd:enumeration value="StartingDateFilter" />
          <xsd:enumeration value="ItemTypeFilter" />
          <xsd:enumeration value="CodeFilterCtrl" />
          <xsd:enumeration value="SalesCodeFilterCtrl2" />
          <xsd:enumeration value="Sales_Type" />
          <xsd:enumeration value="Sales_Code" />
          <xsd:enumeration value="Type" />
          <xsd:enumeration value="Code" />
          <xsd:enumeration value="Variant_Code" />
          <xsd:enumeration value="Currency_Code" />
          <xsd:enumeration value="Unit_of_Measure_Code" />
          <xsd:enumeration value="Minimum_Quantity" />
          <xsd:enumeration value="Line_Discount_Percent" />
          <xsd:enumeration value="Starting_Date" />
          <xsd:enumeration value="Ending_Date" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="SalesLineDiscounts_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:SalesLineDiscounts_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Type" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Code" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Sales_Type" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Sales_Code" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Starting_Date" type="xsd:date" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Currency_Code" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Variant_Code" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Unit_of_Measure_Code" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Minimum_Quantity" type="xsd:decimal" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="SalesLineDiscounts" type="tns:SalesLineDiscounts" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="SalesLineDiscounts" type="tns:SalesLineDiscounts" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:SalesLineDiscounts_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:SalesLineDiscounts_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesLineDiscounts" type="tns:SalesLineDiscounts" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesLineDiscounts" type="tns:SalesLineDiscounts" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesLineDiscounts_List" type="tns:SalesLineDiscounts_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesLineDiscounts_List" type="tns:SalesLineDiscounts_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesLineDiscounts" type="tns:SalesLineDiscounts" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesLineDiscounts" type="tns:SalesLineDiscounts" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesLineDiscounts_List" type="tns:SalesLineDiscounts_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesLineDiscounts_List" type="tns:SalesLineDiscounts_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="SalesLineDiscounts_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="SalesLineDiscounts_Binding" type="tns:SalesLineDiscounts_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/saleslinediscounts:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/saleslinediscounts:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/saleslinediscounts:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/saleslinediscounts:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/saleslinediscounts:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/saleslinediscounts:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/saleslinediscounts:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/saleslinediscounts:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/saleslinediscounts:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/saleslinediscounts:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="SalesLineDiscounts_Service">
    <port name="SalesLineDiscounts_Port" binding="tns:SalesLineDiscounts_Binding">
      <address location="http://localhost:9147/EllisonDev/WS/Ellison%20Europe%20Ltd./Page/SalesLineDiscounts" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>