Magento_Version2_NAV_Integration WIP/Service References/MagentoCustGroupRespository/MagentoWSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="MagentoWSDL" targetNamespace="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
      <xsd:element name="GenericFault" type="tns:GenericFault" />
      <xsd:complexType name="GenericFaultParameter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="key" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfGenericFaultParameter">
        <xsd:annotation>
          <xsd:documentation>An array of GenericFaultParameter items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:GenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfGenericFaultParameter.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WrappedError">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="parameters" type="tns:ArrayOfGenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>Message parameters.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWrappedError">
        <xsd:annotation>
          <xsd:documentation>An array of WrappedError items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:WrappedError">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfWrappedError.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GenericFault">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Trace" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Exception calls stack trace.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Parameters" type="tns:ArrayOfGenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>Additional exception parameters.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="WrappedErrors" type="tns:ArrayOfWrappedError">
            <xsd:annotation>
              <xsd:documentation>Additional wrapped errors.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkDataImageContentInterface">
        <xsd:annotation>
          <xsd:documentation>Image Content data interface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="base64EncodedData" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Media data (base64 encoded content)</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>MIME type</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Image name</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString">
        <xsd:annotation>
          <xsd:documentation>An array of string items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfString.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkDataVideoContentInterface">
        <xsd:annotation>
          <xsd:documentation>Video Content data interface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mediaType" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>MIME type</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoProvider" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Provider</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoUrl" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Video URL</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoTitle" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Title</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoDescription" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Video Description</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoMetadata" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Metadata</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CatalogDataProductAttributeMediaGalleryEntryExtensionInterface">
        <xsd:annotation>
          <xsd:documentation>ExtensionInterface class for @see \Magento\Catalog\Api\Data\ProductAttributeMediaGalleryEntryInterface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="videoContent" type="tns:FrameworkDataVideoContentInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CatalogDataProductAttributeMediaGalleryEntryInterface">
        <xsd:annotation>
          <xsd:documentation />
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Gallery entry ID</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:min />
                <inf:max />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="mediaType" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Media type</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="label" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Gallery entry alternative text</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="position" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Gallery entry position (sort order)</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:min />
                <inf:max />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="disabled" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>If gallery entry is hidden from product page</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:default>false</inf:default>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="types" type="tns:ArrayOfString">
            <xsd:annotation>
              <xsd:documentation>Gallery entry image types (thumbnail, image, small_image etc)</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="file" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>File path</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="content" type="tns:FrameworkDataImageContentInterface">
            <xsd:annotation>
              <xsd:documentation>Media gallery content</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="extensionAttributes" type="tns:CatalogDataProductAttributeMediaGalleryEntryExtensionInterface">
            <xsd:annotation>
              <xsd:documentation>Existing extension attributes object or create a new one.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="customerGroupRepositoryV1GetByIdRequest" type="tns:CustomerGroupRepositoryV1GetByIdRequest" />
      <xsd:complexType name="CustomerGroupRepositoryV1GetByIdRequest">
        <xsd:annotation>
          <xsd:documentation>Get customer group by group ID.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:min />
                <inf:max />
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetById</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="customerGroupRepositoryV1GetByIdResponse" type="tns:CustomerGroupRepositoryV1GetByIdResponse" />
      <xsd:complexType name="CustomerDataGroupExtensionInterface">
        <xsd:annotation>
          <xsd:documentation>ExtensionInterface class for @see \Magento\Customer\Api\Data\GroupInterface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
      </xsd:complexType>
      <xsd:complexType name="CustomerDataGroupInterface">
        <xsd:annotation>
          <xsd:documentation>Customer group interface.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Id</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:min />
                <inf:max />
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetById</inf:callName>
                  <inf:callName>customerGroupRepositoryV1Save</inf:callName>
                  <inf:returned>Conditionally</inf:returned>
                </inf:callInfo>
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1Save</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Code</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetById</inf:callName>
                  <inf:callName>customerGroupRepositoryV1Save</inf:callName>
                  <inf:returned>Conditionally</inf:returned>
                </inf:callInfo>
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1Save</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="taxClassId" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Tax class id</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:min />
                <inf:max />
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetById</inf:callName>
                  <inf:callName>customerGroupRepositoryV1Save</inf:callName>
                  <inf:returned>Conditionally</inf:returned>
                </inf:callInfo>
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1Save</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="taxClassName" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Tax class name</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetById</inf:callName>
                  <inf:callName>customerGroupRepositoryV1Save</inf:callName>
                  <inf:returned>Conditionally</inf:returned>
                </inf:callInfo>
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1Save</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="extensionAttributes" type="tns:CustomerDataGroupExtensionInterface">
            <xsd:annotation>
              <xsd:documentation>Existing extension attributes object or create a new one.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetById</inf:callName>
                  <inf:callName>customerGroupRepositoryV1Save</inf:callName>
                  <inf:returned>Conditionally</inf:returned>
                </inf:callInfo>
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1Save</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomerGroupRepositoryV1GetByIdResponse">
        <xsd:annotation>
          <xsd:documentation>Response container for the customerGroupRepositoryV1GetById call.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result" type="tns:CustomerDataGroupInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetById</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="customerGroupRepositoryV1GetListRequest" type="tns:CustomerGroupRepositoryV1GetListRequest" />
      <xsd:complexType name="FrameworkFilter">
        <xsd:annotation>
          <xsd:documentation>Filter which can be used by any methods from service layer.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="field" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Field</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Value</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="conditionType" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Condition type</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfFrameworkFilter">
        <xsd:annotation>
          <xsd:documentation>An array of FrameworkFilter items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:FrameworkFilter">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfFrameworkFilter.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkSearchFilterGroup">
        <xsd:annotation>
          <xsd:documentation>Groups two or more filters together using a logical OR</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="filters" type="tns:ArrayOfFrameworkFilter">
            <xsd:annotation>
              <xsd:documentation>A list of filters in this group</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfFrameworkSearchFilterGroup">
        <xsd:annotation>
          <xsd:documentation>An array of FrameworkSearchFilterGroup items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:FrameworkSearchFilterGroup">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfFrameworkSearchFilterGroup.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkSortOrder">
        <xsd:annotation>
          <xsd:documentation>Data object for sort order.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="field" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Sorting field.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="direction" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Sorting direction.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfFrameworkSortOrder">
        <xsd:annotation>
          <xsd:documentation>An array of FrameworkSortOrder items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:FrameworkSortOrder">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfFrameworkSortOrder.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkSearchCriteriaInterface">
        <xsd:annotation>
          <xsd:documentation>Search criteria interface.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="filterGroups" type="tns:ArrayOfFrameworkSearchFilterGroup">
            <xsd:annotation>
              <xsd:documentation>A list of filter groups.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="sortOrders" type="tns:ArrayOfFrameworkSortOrder">
            <xsd:annotation>
              <xsd:documentation>Sort order.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="pageSize" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Page size.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:min />
                <inf:max />
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="currentPage" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Current page.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:min />
                <inf:max />
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomerGroupRepositoryV1GetListRequest">
        <xsd:annotation>
          <xsd:documentation>Retrieve customer groups. The list of groups can be filtered to exclude the NOT_LOGGED_IN group using the first parameter and/or it can be filtered by tax class. This call returns an array of objects, but detailed information about each object’s attributes might not be included. See http://devdocs.magento.com/codelinks/attributes.html#GroupRepositoryInterface to determine which call to use to get detailed information about all attributes for an object.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="searchCriteria" type="tns:FrameworkSearchCriteriaInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="customerGroupRepositoryV1GetListResponse" type="tns:CustomerGroupRepositoryV1GetListResponse" />
      <xsd:complexType name="ArrayOfCustomerDataGroupInterface">
        <xsd:annotation>
          <xsd:documentation>An array of CustomerDataGroupInterface items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:CustomerDataGroupInterface">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfCustomerDataGroupInterface.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:returned>Conditionally</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomerDataGroupSearchResultsInterface">
        <xsd:annotation>
          <xsd:documentation>Interface for customer groups search results.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="items" type="tns:ArrayOfCustomerDataGroupInterface">
            <xsd:annotation>
              <xsd:documentation>Customer groups list.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="searchCriteria" type="tns:FrameworkSearchCriteriaInterface">
            <xsd:annotation>
              <xsd:documentation>Search criteria.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="totalCount" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Total count.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:min />
                <inf:max />
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomerGroupRepositoryV1GetListResponse">
        <xsd:annotation>
          <xsd:documentation>Response container for the customerGroupRepositoryV1GetList call.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result" type="tns:CustomerDataGroupSearchResultsInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1GetList</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="customerGroupRepositoryV1SaveRequest" type="tns:CustomerGroupRepositoryV1SaveRequest" />
      <xsd:complexType name="CustomerGroupRepositoryV1SaveRequest">
        <xsd:annotation>
          <xsd:documentation>Save customer group.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="group" type="tns:CustomerDataGroupInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1Save</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="customerGroupRepositoryV1SaveResponse" type="tns:CustomerGroupRepositoryV1SaveResponse" />
      <xsd:complexType name="CustomerGroupRepositoryV1SaveResponse">
        <xsd:annotation>
          <xsd:documentation>Response container for the customerGroupRepositoryV1Save call.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result" type="tns:CustomerDataGroupInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1Save</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="customerGroupRepositoryV1DeleteByIdRequest" type="tns:CustomerGroupRepositoryV1DeleteByIdRequest" />
      <xsd:complexType name="CustomerGroupRepositoryV1DeleteByIdRequest">
        <xsd:annotation>
          <xsd:documentation>Delete customer group by ID.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:min />
                <inf:max />
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1DeleteById</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="customerGroupRepositoryV1DeleteByIdResponse" type="tns:CustomerGroupRepositoryV1DeleteByIdResponse" />
      <xsd:complexType name="CustomerGroupRepositoryV1DeleteByIdResponse">
        <xsd:annotation>
          <xsd:documentation>Response container for the customerGroupRepositoryV1DeleteById call.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>true on success</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1">
                <inf:default>false</inf:default>
                <inf:callInfo>
                  <inf:callName>customerGroupRepositoryV1DeleteById</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GenericFault">
    <wsdl:part name="messageParameters" element="tns:GenericFault" />
  </wsdl:message>
  <wsdl:message name="customerGroupRepositoryV1GetByIdRequest">
    <wsdl:part name="messageParameters" element="tns:customerGroupRepositoryV1GetByIdRequest" />
  </wsdl:message>
  <wsdl:message name="customerGroupRepositoryV1GetByIdResponse">
    <wsdl:part name="messageParameters" element="tns:customerGroupRepositoryV1GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="customerGroupRepositoryV1GetListRequest">
    <wsdl:part name="messageParameters" element="tns:customerGroupRepositoryV1GetListRequest" />
  </wsdl:message>
  <wsdl:message name="customerGroupRepositoryV1GetListResponse">
    <wsdl:part name="messageParameters" element="tns:customerGroupRepositoryV1GetListResponse" />
  </wsdl:message>
  <wsdl:message name="customerGroupRepositoryV1SaveRequest">
    <wsdl:part name="messageParameters" element="tns:customerGroupRepositoryV1SaveRequest" />
  </wsdl:message>
  <wsdl:message name="customerGroupRepositoryV1SaveResponse">
    <wsdl:part name="messageParameters" element="tns:customerGroupRepositoryV1SaveResponse" />
  </wsdl:message>
  <wsdl:message name="customerGroupRepositoryV1DeleteByIdRequest">
    <wsdl:part name="messageParameters" element="tns:customerGroupRepositoryV1DeleteByIdRequest" />
  </wsdl:message>
  <wsdl:message name="customerGroupRepositoryV1DeleteByIdResponse">
    <wsdl:part name="messageParameters" element="tns:customerGroupRepositoryV1DeleteByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="customerGroupRepositoryV1PortType">
    <wsdl:operation name="customerGroupRepositoryV1GetById">
      <wsdl:input message="tns:customerGroupRepositoryV1GetByIdRequest" />
      <wsdl:output message="tns:customerGroupRepositoryV1GetByIdResponse" />
      <wsdl:fault name="GenericFault" message="tns:GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="customerGroupRepositoryV1GetList">
      <wsdl:input message="tns:customerGroupRepositoryV1GetListRequest" />
      <wsdl:output message="tns:customerGroupRepositoryV1GetListResponse" />
      <wsdl:fault name="GenericFault" message="tns:GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="customerGroupRepositoryV1Save">
      <wsdl:input message="tns:customerGroupRepositoryV1SaveRequest" />
      <wsdl:output message="tns:customerGroupRepositoryV1SaveResponse" />
      <wsdl:fault name="GenericFault" message="tns:GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="customerGroupRepositoryV1DeleteById">
      <wsdl:input message="tns:customerGroupRepositoryV1DeleteByIdRequest" />
      <wsdl:output message="tns:customerGroupRepositoryV1DeleteByIdResponse" />
      <wsdl:fault name="GenericFault" message="tns:GenericFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="customerGroupRepositoryV1Binding" type="tns:customerGroupRepositoryV1PortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="customerGroupRepositoryV1GetById">
      <soap12:operation soapAction="customerGroupRepositoryV1GetById" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="customerGroupRepositoryV1GetList">
      <soap12:operation soapAction="customerGroupRepositoryV1GetList" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="customerGroupRepositoryV1Save">
      <soap12:operation soapAction="customerGroupRepositoryV1Save" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="customerGroupRepositoryV1DeleteById">
      <soap12:operation soapAction="customerGroupRepositoryV1DeleteById" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFault" />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="customerGroupRepositoryV1Service">
    <wsdl:port name="customerGroupRepositoryV1Port" binding="tns:customerGroupRepositoryV1Binding">
      <soap12:address location="https://sizzix-b2b.c3preview.co.uk/soap/all?services=customerGroupRepositoryV1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>