Magento_Version2_NAV_Integration WIP/Service References/MagentoAccountMessages/MagentoWSDL1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="MagentoWSDL" targetNamespace="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
      <xsd:element name="GenericFault" type="tns:GenericFault" />
      <xsd:complexType name="GenericFaultParameter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="key" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfGenericFaultParameter">
        <xsd:annotation>
          <xsd:documentation>An array of GenericFaultParameter items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:GenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfGenericFaultParameter.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WrappedError">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="parameters" type="tns:ArrayOfGenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>Message parameters.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWrappedError">
        <xsd:annotation>
          <xsd:documentation>An array of WrappedError items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:WrappedError">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfWrappedError.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GenericFault">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Trace" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Exception calls stack trace.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Parameters" type="tns:ArrayOfGenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>Additional exception parameters.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="WrappedErrors" type="tns:ArrayOfWrappedError">
            <xsd:annotation>
              <xsd:documentation>Additional wrapped errors.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkDataImageContentInterface">
        <xsd:annotation>
          <xsd:documentation>Image Content data interface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="base64EncodedData" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Media data (base64 encoded content)</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>MIME type</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Image name</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString">
        <xsd:annotation>
          <xsd:documentation>An array of string items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfString.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkDataVideoContentInterface">
        <xsd:annotation>
          <xsd:documentation>Video Content data interface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mediaType" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>MIME type</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoProvider" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Provider</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoUrl" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Video URL</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoTitle" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Title</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoDescription" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Video Description</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoMetadata" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Metadata</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CatalogDataProductAttributeMediaGalleryEntryExtensionInterface">
        <xsd:annotation>
          <xsd:documentation>ExtensionInterface class for @see \Magento\Catalog\Api\Data\ProductAttributeMediaGalleryEntryInterface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="videoContent" type="tns:FrameworkDataVideoContentInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CatalogDataProductAttributeMediaGalleryEntryInterface">
        <xsd:annotation>
          <xsd:documentation />
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Gallery entry ID</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:min />
                <inf:max />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="mediaType" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Media type</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="label" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Gallery entry alternative text</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="position" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Gallery entry position (sort order)</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:min />
                <inf:max />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="disabled" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>If gallery entry is hidden from product page</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:default>false</inf:default>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="types" type="tns:ArrayOfString">
            <xsd:annotation>
              <xsd:documentation>Gallery entry image types (thumbnail, image, small_image etc)</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="file" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>File path</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="content" type="tns:FrameworkDataImageContentInterface">
            <xsd:annotation>
              <xsd:documentation>Media gallery content</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="extensionAttributes" type="tns:CatalogDataProductAttributeMediaGalleryEntryExtensionInterface">
            <xsd:annotation>
              <xsd:documentation>Existing extension attributes object or create a new one.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sizzixB2bAccountMessagesMessageServiceV1CreateRequest" type="tns:SizzixB2bAccountMessagesMessageServiceV1CreateRequest" />
      <xsd:complexType name="SizzixB2bAccountMessagesDataAttachmentDataInterface">
        <xsd:annotation>
          <xsd:documentation />
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="fileName" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="base64ImageString" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="fileExtension" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSizzixB2bAccountMessagesDataAttachmentDataInterface">
        <xsd:annotation>
          <xsd:documentation>An array of SizzixB2bAccountMessagesDataAttachmentDataInterface items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:SizzixB2bAccountMessagesDataAttachmentDataInterface">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfSizzixB2bAccountMessagesDataAttachmentDataInterface.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Create</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SizzixB2bAccountMessagesDataMessageInterface">
        <xsd:annotation>
          <xsd:documentation />
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="threadId" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:min />
                <inf:max />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="recipient" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="sender" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="subject" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="body" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="createdAt" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="base64Attachments" type="tns:ArrayOfSizzixB2bAccountMessagesDataAttachmentDataInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSizzixB2bAccountMessagesDataMessageInterface">
        <xsd:annotation>
          <xsd:documentation>An array of SizzixB2bAccountMessagesDataMessageInterface items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:SizzixB2bAccountMessagesDataMessageInterface">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfSizzixB2bAccountMessagesDataMessageInterface.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Create</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SizzixB2bAccountMessagesMessageServiceV1CreateRequest">
        <xsd:annotation>
          <xsd:documentation />
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="messages" type="tns:ArrayOfSizzixB2bAccountMessagesDataMessageInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sizzixB2bAccountMessagesMessageServiceV1CreateResponse" type="tns:SizzixB2bAccountMessagesMessageServiceV1CreateResponse" />
      <xsd:complexType name="SizzixB2bAccountMessagesMessageServiceV1CreateResponse">
        <xsd:annotation>
          <xsd:documentation>Response container for the sizzixB2bAccountMessagesMessageServiceV1Create call.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:default>false</inf:default>
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Create</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sizzixB2bAccountMessagesMessageServiceV1UpdateRequest" type="tns:SizzixB2bAccountMessagesMessageServiceV1UpdateRequest" />
      <xsd:complexType name="FrameworkFilter">
        <xsd:annotation>
          <xsd:documentation>Filter which can be used by any methods from service layer.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="field" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Field</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Update</inf:callName>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Delete</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Value</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Update</inf:callName>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Delete</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="conditionType" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Condition type</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Update</inf:callName>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Delete</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfFrameworkFilter">
        <xsd:annotation>
          <xsd:documentation>An array of FrameworkFilter items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:FrameworkFilter">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfFrameworkFilter.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Update</inf:callName>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Delete</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkSearchFilterGroup">
        <xsd:annotation>
          <xsd:documentation>Groups two or more filters together using a logical OR</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="filters" type="tns:ArrayOfFrameworkFilter">
            <xsd:annotation>
              <xsd:documentation>A list of filters in this group</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Update</inf:callName>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Delete</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfFrameworkSearchFilterGroup">
        <xsd:annotation>
          <xsd:documentation>An array of FrameworkSearchFilterGroup items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:FrameworkSearchFilterGroup">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfFrameworkSearchFilterGroup.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Update</inf:callName>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Delete</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkSortOrder">
        <xsd:annotation>
          <xsd:documentation>Data object for sort order.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="field" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Sorting field.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Update</inf:callName>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Delete</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="direction" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Sorting direction.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Update</inf:callName>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Delete</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfFrameworkSortOrder">
        <xsd:annotation>
          <xsd:documentation>An array of FrameworkSortOrder items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:FrameworkSortOrder">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfFrameworkSortOrder.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Update</inf:callName>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Delete</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkSearchCriteria">
        <xsd:annotation>
          <xsd:documentation>Data Object for SearchCriteria</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="filterGroups" type="tns:ArrayOfFrameworkSearchFilterGroup">
            <xsd:annotation>
              <xsd:documentation>A list of filter groups.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Update</inf:callName>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Delete</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="sortOrders" type="tns:ArrayOfFrameworkSortOrder">
            <xsd:annotation>
              <xsd:documentation>Sort order.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Update</inf:callName>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Delete</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="pageSize" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Page size.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:min />
                <inf:max />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Update</inf:callName>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Delete</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="currentPage" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Current page.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:min />
                <inf:max />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Update</inf:callName>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Delete</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SizzixB2bAccountMessagesMessageServiceV1UpdateRequest">
        <xsd:annotation>
          <xsd:documentation />
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="searchCriteria" type="tns:FrameworkSearchCriteria">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Update</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="key" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Update</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Update</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sizzixB2bAccountMessagesMessageServiceV1UpdateResponse" type="tns:SizzixB2bAccountMessagesMessageServiceV1UpdateResponse" />
      <xsd:complexType name="SizzixB2bAccountMessagesMessageServiceV1UpdateResponse">
        <xsd:annotation>
          <xsd:documentation>Response container for the sizzixB2bAccountMessagesMessageServiceV1Update call.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:default>false</inf:default>
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Update</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sizzixB2bAccountMessagesMessageServiceV1DeleteRequest" type="tns:SizzixB2bAccountMessagesMessageServiceV1DeleteRequest" />
      <xsd:complexType name="SizzixB2bAccountMessagesMessageServiceV1DeleteRequest">
        <xsd:annotation>
          <xsd:documentation />
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="searchCriteria" type="tns:FrameworkSearchCriteria">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Delete</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sizzixB2bAccountMessagesMessageServiceV1DeleteResponse" type="tns:SizzixB2bAccountMessagesMessageServiceV1DeleteResponse" />
      <xsd:complexType name="SizzixB2bAccountMessagesMessageServiceV1DeleteResponse">
        <xsd:annotation>
          <xsd:documentation>Response container for the sizzixB2bAccountMessagesMessageServiceV1Delete call.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1">
                <inf:default>false</inf:default>
                <inf:callInfo>
                  <inf:callName>sizzixB2bAccountMessagesMessageServiceV1Delete</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GenericFault">
    <wsdl:part name="messageParameters" element="tns:GenericFault" />
  </wsdl:message>
  <wsdl:message name="sizzixB2bAccountMessagesMessageServiceV1CreateRequest">
    <wsdl:part name="messageParameters" element="tns:sizzixB2bAccountMessagesMessageServiceV1CreateRequest" />
  </wsdl:message>
  <wsdl:message name="sizzixB2bAccountMessagesMessageServiceV1CreateResponse">
    <wsdl:part name="messageParameters" element="tns:sizzixB2bAccountMessagesMessageServiceV1CreateResponse" />
  </wsdl:message>
  <wsdl:message name="sizzixB2bAccountMessagesMessageServiceV1UpdateRequest">
    <wsdl:part name="messageParameters" element="tns:sizzixB2bAccountMessagesMessageServiceV1UpdateRequest" />
  </wsdl:message>
  <wsdl:message name="sizzixB2bAccountMessagesMessageServiceV1UpdateResponse">
    <wsdl:part name="messageParameters" element="tns:sizzixB2bAccountMessagesMessageServiceV1UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="sizzixB2bAccountMessagesMessageServiceV1DeleteRequest">
    <wsdl:part name="messageParameters" element="tns:sizzixB2bAccountMessagesMessageServiceV1DeleteRequest" />
  </wsdl:message>
  <wsdl:message name="sizzixB2bAccountMessagesMessageServiceV1DeleteResponse">
    <wsdl:part name="messageParameters" element="tns:sizzixB2bAccountMessagesMessageServiceV1DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="sizzixB2bAccountMessagesMessageServiceV1PortType">
    <wsdl:operation name="sizzixB2bAccountMessagesMessageServiceV1Create">
      <wsdl:input message="tns:sizzixB2bAccountMessagesMessageServiceV1CreateRequest" />
      <wsdl:output message="tns:sizzixB2bAccountMessagesMessageServiceV1CreateResponse" />
      <wsdl:fault name="GenericFault" message="tns:GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="sizzixB2bAccountMessagesMessageServiceV1Update">
      <wsdl:input message="tns:sizzixB2bAccountMessagesMessageServiceV1UpdateRequest" />
      <wsdl:output message="tns:sizzixB2bAccountMessagesMessageServiceV1UpdateResponse" />
      <wsdl:fault name="GenericFault" message="tns:GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="sizzixB2bAccountMessagesMessageServiceV1Delete">
      <wsdl:input message="tns:sizzixB2bAccountMessagesMessageServiceV1DeleteRequest" />
      <wsdl:output message="tns:sizzixB2bAccountMessagesMessageServiceV1DeleteResponse" />
      <wsdl:fault name="GenericFault" message="tns:GenericFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sizzixB2bAccountMessagesMessageServiceV1Binding" type="tns:sizzixB2bAccountMessagesMessageServiceV1PortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sizzixB2bAccountMessagesMessageServiceV1Create">
      <soap12:operation soapAction="sizzixB2bAccountMessagesMessageServiceV1Create" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="sizzixB2bAccountMessagesMessageServiceV1Update">
      <soap12:operation soapAction="sizzixB2bAccountMessagesMessageServiceV1Update" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="sizzixB2bAccountMessagesMessageServiceV1Delete">
      <soap12:operation soapAction="sizzixB2bAccountMessagesMessageServiceV1Delete" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFault" />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sizzixB2bAccountMessagesMessageServiceV1Service">
    <wsdl:port name="sizzixB2bAccountMessagesMessageServiceV1Port" binding="tns:sizzixB2bAccountMessagesMessageServiceV1Binding">
      <soap12:address location="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bAccountMessagesMessageServiceV1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>