MagentoTest/Web References/Item_Service/Item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/item" targetNamespace="urn:microsoft-dynamics-schemas/page/item" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/item" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Inventory" />
          <xsd:enumeration value="Service" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="StockoutWarningDefaultYes">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Default" />
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Yes" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PreventNegInventoryDefaultYes">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Default" />
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Yes" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Costing_Method">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="FIFO" />
          <xsd:enumeration value="LIFO" />
          <xsd:enumeration value="Specific" />
          <xsd:enumeration value="Average" />
          <xsd:enumeration value="Standard" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Price_Profit_Calculation">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Profit_x003D_Price_Cost" />
          <xsd:enumeration value="Price_x003D_Cost_x002B_Profit" />
          <xsd:enumeration value="No_Relationship" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Replenishment_System">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Purchase" />
          <xsd:enumeration value="Prod_Order" />
          <xsd:enumeration value="Assembly" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Engineering_Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_x0031__New_Design" />
          <xsd:enumeration value="_x0032__Design_in_progress" />
          <xsd:enumeration value="_x0033__Design_Complete" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Manufacturing_Policy">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Make_to_Stock" />
          <xsd:enumeration value="Make_to_Order" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Flushing_Method">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Manual" />
          <xsd:enumeration value="Forward" />
          <xsd:enumeration value="Backward" />
          <xsd:enumeration value="Pick__x002B__Forward" />
          <xsd:enumeration value="Pick__x002B__Backward" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Assembly_Policy">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Assemble_to_Stock" />
          <xsd:enumeration value="Assemble_to_Order" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Reordering_Policy">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Fixed_Reorder_Qty" />
          <xsd:enumeration value="Maximum_Qty" />
          <xsd:enumeration value="Order" />
          <xsd:enumeration value="Lot_for_Lot" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Reserve">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Never" />
          <xsd:enumeration value="Optional" />
          <xsd:enumeration value="Always" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Order_Tracking_Policy">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None" />
          <xsd:enumeration value="Tracking_Only" />
          <xsd:enumeration value="Tracking__x0026__Action_Msg" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Item">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Attributes" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Base_Unit_of_Measure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Assembly_BOM" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Extras" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shelf_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Automatic_Ext_Texts" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Created_From_Nonstock_Item" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_Category_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Product_Group_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Hire_Resource_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Type" type="tns:Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Search_Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Inventory" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_on_Purch_Order" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_on_Prod_Order" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_on_Component_Lines" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_on_Sales_Order" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_on_Service_Order" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Service_Item_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_on_Assembly_Order" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_on_Asm_Component" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Blocked" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Hidden_from_Sale" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Date_Modified" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Manufacturer" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Global_Dimension_2_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StockoutWarningDefaultYes" type="tns:StockoutWarningDefaultYes" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PreventNegInventoryDefaultYes" type="tns:PreventNegInventoryDefaultYes" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Costing_Method" type="tns:Costing_Method" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cost_is_Adjusted" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cost_is_Posted_to_G_L" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Standard_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Overhead_Rate" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Indirect_Cost_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Direct_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Price_Profit_Calculation" type="tns:Price_Profit_Calculation" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Profit_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gen_Prod_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VAT_Prod_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Inventory_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Default_Deferral_Template_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Net_Invoiced_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Allow_Invoice_Disc" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_Disc_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Unit_of_Measure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Application_Wksh_User_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reverse_Charge_Applies" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="_x003C_Supplier_Discount_Percent_x003E_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="_x003C_Rebate_Amount_x003E_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="_x003C_Tariff_Price_x003E_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="_x003C_Retail_Price_x003E_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Template_Item" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Template_Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Attribute_Value_1_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Attribute_Value_2_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Attribute_Value_3_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Attribute_Value_4_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Replenishment_System" type="tns:Replenishment_System" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Lead_Time_Calculation" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Second_Vendor" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Purch_Unit_of_Measure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Manufacturer_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Drawing_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Drawing_Issue_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Engineering_Status" type="tns:Engineering_Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Manufacturing_Policy" type="tns:Manufacturing_Policy" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Routing_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Production_BOM_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Rounding_Precision" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Flushing_Method" type="tns:Flushing_Method" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Scrap_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Lot_Size" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Assembly_Policy" type="tns:Assembly_Policy" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reordering_Policy" type="tns:Reordering_Policy" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reserve" type="tns:Reserve" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Order_Tracking_Policy" type="tns:Order_Tracking_Policy" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Stockkeeping_Unit_Exists" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Dampener_Period" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Dampener_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Critical" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Safety_Lead_Time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Safety_Stock_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Include_Inventory" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Lot_Accumulation_Period" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Rescheduling_Period" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reorder_Point" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reorder_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Maximum_Inventory" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Overflow_Level" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Time_Bucket" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Minimum_Order_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Maximum_Order_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Order_Multiple" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Weeks_Stock" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Overrider" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="GTIN" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tariff_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country_Region_of_Origin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Net_Weight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gross_Weight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="_x003C_Unit_Volume_x003E_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="_x003C_Tare_Weight_x003E_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="_x003C_Gross_Weight_x003E_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="_x003C_Gross_Width_x003E_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="_x003C_Gross_Depth_x003E_" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_Tracking_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Serial_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Lot_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expiration_Calculation" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Inspection_Details_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Special_Equipment_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Put_away_Template_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Put_away_Unit_of_Measure_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Phys_Invt_Counting_Period_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Phys_Invt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Counting_Period_Update" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Next_Counting_Start_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Next_Counting_End_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Identifier_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Use_Cross_Docking" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Rolled_up_Material_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Rolled_up_Capacity_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Rolled_up_Subcontracted_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Rolled_up_Mfg_Ovhd_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Rolled_up_Cap_Overhead_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Single_Level_Material_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Single_Level_Capacity_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Single_Level_Subcontrd_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Single_Level_Cap_Ovhd_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Single_Level_Mfg_Ovhd_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BrokerBin_Manufacturer" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Part_Number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BrokerBin_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BrokerBin_Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Condition" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ecommerce_Enabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ecommerceID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Has_Variants" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Item_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Item" type="tns:Item" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Item_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Description" />
          <xsd:enumeration value="Description_2" />
          <xsd:enumeration value="Attributes" />
          <xsd:enumeration value="Base_Unit_of_Measure" />
          <xsd:enumeration value="Assembly_BOM" />
          <xsd:enumeration value="Extras" />
          <xsd:enumeration value="Shelf_No" />
          <xsd:enumeration value="Automatic_Ext_Texts" />
          <xsd:enumeration value="Created_From_Nonstock_Item" />
          <xsd:enumeration value="Item_Category_Code" />
          <xsd:enumeration value="Product_Group_Code" />
          <xsd:enumeration value="Hire_Resource_No" />
          <xsd:enumeration value="Type" />
          <xsd:enumeration value="Search_Description" />
          <xsd:enumeration value="Inventory" />
          <xsd:enumeration value="Qty_on_Purch_Order" />
          <xsd:enumeration value="Qty_on_Prod_Order" />
          <xsd:enumeration value="Qty_on_Component_Lines" />
          <xsd:enumeration value="Qty_on_Sales_Order" />
          <xsd:enumeration value="Qty_on_Service_Order" />
          <xsd:enumeration value="Service_Item_Group" />
          <xsd:enumeration value="Qty_on_Assembly_Order" />
          <xsd:enumeration value="Qty_on_Asm_Component" />
          <xsd:enumeration value="Blocked" />
          <xsd:enumeration value="Hidden_from_Sale" />
          <xsd:enumeration value="Last_Date_Modified" />
          <xsd:enumeration value="Manufacturer" />
          <xsd:enumeration value="Global_Dimension_2_Code" />
          <xsd:enumeration value="StockoutWarningDefaultYes" />
          <xsd:enumeration value="PreventNegInventoryDefaultYes" />
          <xsd:enumeration value="Costing_Method" />
          <xsd:enumeration value="Cost_is_Adjusted" />
          <xsd:enumeration value="Cost_is_Posted_to_G_L" />
          <xsd:enumeration value="Standard_Cost" />
          <xsd:enumeration value="Unit_Cost" />
          <xsd:enumeration value="Overhead_Rate" />
          <xsd:enumeration value="Indirect_Cost_Percent" />
          <xsd:enumeration value="Last_Direct_Cost" />
          <xsd:enumeration value="Price_Profit_Calculation" />
          <xsd:enumeration value="Profit_Percent" />
          <xsd:enumeration value="Unit_Price" />
          <xsd:enumeration value="Gen_Prod_Posting_Group" />
          <xsd:enumeration value="VAT_Prod_Posting_Group" />
          <xsd:enumeration value="Inventory_Posting_Group" />
          <xsd:enumeration value="Default_Deferral_Template_Code" />
          <xsd:enumeration value="Net_Invoiced_Qty" />
          <xsd:enumeration value="Allow_Invoice_Disc" />
          <xsd:enumeration value="Item_Disc_Group" />
          <xsd:enumeration value="Sales_Unit_of_Measure" />
          <xsd:enumeration value="Application_Wksh_User_ID" />
          <xsd:enumeration value="Reverse_Charge_Applies" />
          <xsd:enumeration value="_x003C_Supplier_Discount_Percent_x003E_" />
          <xsd:enumeration value="_x003C_Rebate_Amount_x003E_" />
          <xsd:enumeration value="_x003C_Tariff_Price_x003E_" />
          <xsd:enumeration value="_x003C_Retail_Price_x003E_" />
          <xsd:enumeration value="Template_Item" />
          <xsd:enumeration value="Template_Item_No" />
          <xsd:enumeration value="Attribute_Value_1_Code" />
          <xsd:enumeration value="Attribute_Value_2_Code" />
          <xsd:enumeration value="Attribute_Value_3_Code" />
          <xsd:enumeration value="Attribute_Value_4_Code" />
          <xsd:enumeration value="Replenishment_System" />
          <xsd:enumeration value="Lead_Time_Calculation" />
          <xsd:enumeration value="Vendor_No" />
          <xsd:enumeration value="Vendor_Name" />
          <xsd:enumeration value="Vendor_Item_No" />
          <xsd:enumeration value="Second_Vendor" />
          <xsd:enumeration value="Purch_Unit_of_Measure" />
          <xsd:enumeration value="Manufacturer_Code" />
          <xsd:enumeration value="Drawing_No" />
          <xsd:enumeration value="Drawing_Issue_No" />
          <xsd:enumeration value="Engineering_Status" />
          <xsd:enumeration value="Manufacturing_Policy" />
          <xsd:enumeration value="Routing_No" />
          <xsd:enumeration value="Production_BOM_No" />
          <xsd:enumeration value="Rounding_Precision" />
          <xsd:enumeration value="Flushing_Method" />
          <xsd:enumeration value="Scrap_Percent" />
          <xsd:enumeration value="Lot_Size" />
          <xsd:enumeration value="Assembly_Policy" />
          <xsd:enumeration value="Reordering_Policy" />
          <xsd:enumeration value="Reserve" />
          <xsd:enumeration value="Order_Tracking_Policy" />
          <xsd:enumeration value="Stockkeeping_Unit_Exists" />
          <xsd:enumeration value="Dampener_Period" />
          <xsd:enumeration value="Dampener_Quantity" />
          <xsd:enumeration value="Critical" />
          <xsd:enumeration value="Safety_Lead_Time" />
          <xsd:enumeration value="Safety_Stock_Quantity" />
          <xsd:enumeration value="Include_Inventory" />
          <xsd:enumeration value="Lot_Accumulation_Period" />
          <xsd:enumeration value="Rescheduling_Period" />
          <xsd:enumeration value="Reorder_Point" />
          <xsd:enumeration value="Reorder_Quantity" />
          <xsd:enumeration value="Maximum_Inventory" />
          <xsd:enumeration value="Overflow_Level" />
          <xsd:enumeration value="Time_Bucket" />
          <xsd:enumeration value="Minimum_Order_Quantity" />
          <xsd:enumeration value="Maximum_Order_Quantity" />
          <xsd:enumeration value="Order_Multiple" />
          <xsd:enumeration value="Weeks_Stock" />
          <xsd:enumeration value="Overrider" />
          <xsd:enumeration value="GTIN" />
          <xsd:enumeration value="Tariff_No" />
          <xsd:enumeration value="Country_Region_of_Origin_Code" />
          <xsd:enumeration value="Net_Weight" />
          <xsd:enumeration value="Gross_Weight" />
          <xsd:enumeration value="_x003C_Unit_Volume_x003E_" />
          <xsd:enumeration value="_x003C_Tare_Weight_x003E_" />
          <xsd:enumeration value="_x003C_Gross_Weight_x003E_" />
          <xsd:enumeration value="_x003C_Gross_Width_x003E_" />
          <xsd:enumeration value="_x003C_Gross_Depth_x003E_" />
          <xsd:enumeration value="Item_Tracking_Code" />
          <xsd:enumeration value="Serial_Nos" />
          <xsd:enumeration value="Lot_Nos" />
          <xsd:enumeration value="Expiration_Calculation" />
          <xsd:enumeration value="Inspection_Details_Code" />
          <xsd:enumeration value="Special_Equipment_Code" />
          <xsd:enumeration value="Put_away_Template_Code" />
          <xsd:enumeration value="Put_away_Unit_of_Measure_Code" />
          <xsd:enumeration value="Phys_Invt_Counting_Period_Code" />
          <xsd:enumeration value="Last_Phys_Invt_Date" />
          <xsd:enumeration value="Last_Counting_Period_Update" />
          <xsd:enumeration value="Next_Counting_Start_Date" />
          <xsd:enumeration value="Next_Counting_End_Date" />
          <xsd:enumeration value="Identifier_Code" />
          <xsd:enumeration value="Use_Cross_Docking" />
          <xsd:enumeration value="Rolled_up_Material_Cost" />
          <xsd:enumeration value="Rolled_up_Capacity_Cost" />
          <xsd:enumeration value="Rolled_up_Subcontracted_Cost" />
          <xsd:enumeration value="Rolled_up_Mfg_Ovhd_Cost" />
          <xsd:enumeration value="Rolled_up_Cap_Overhead_Cost" />
          <xsd:enumeration value="Single_Level_Material_Cost" />
          <xsd:enumeration value="Single_Level_Capacity_Cost" />
          <xsd:enumeration value="Single_Level_Subcontrd_Cost" />
          <xsd:enumeration value="Single_Level_Cap_Ovhd_Cost" />
          <xsd:enumeration value="Single_Level_Mfg_Ovhd_Cost" />
          <xsd:enumeration value="BrokerBin_Manufacturer" />
          <xsd:enumeration value="Part_Number" />
          <xsd:enumeration value="BrokerBin_Price" />
          <xsd:enumeration value="BrokerBin_Description" />
          <xsd:enumeration value="Condition" />
          <xsd:enumeration value="ecommerce_Enabled" />
          <xsd:enumeration value="ecommerceID" />
          <xsd:enumeration value="Has_Variants" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Item_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:Item_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Item" type="tns:Item" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Item" type="tns:Item" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:Item_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:Item_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Item" type="tns:Item" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Item" type="tns:Item" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Item_List" type="tns:Item_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Item_List" type="tns:Item_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Item" type="tns:Item" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Item" type="tns:Item" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Item_List" type="tns:Item_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Item_List" type="tns:Item_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="Item_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="Item_Binding" type="tns:Item_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Item_Service">
    <port name="Item_Port" binding="tns:Item_Binding">
      <address location="http://nav-server.1sttech.local:9147/NAV16_DEV/WS/1st%20Tech%20-%20Pilot/Page/Item" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>