Magento_Version2_NAV_Integration WIP/Service References/MagentoCustomerPriceGroups/MagentoWSDL1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="MagentoWSDL" targetNamespace="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
      <xsd:element name="GenericFault" type="tns:GenericFault" />
      <xsd:complexType name="GenericFaultParameter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="key" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfGenericFaultParameter">
        <xsd:annotation>
          <xsd:documentation>An array of GenericFaultParameter items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:GenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfGenericFaultParameter.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WrappedError">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="parameters" type="tns:ArrayOfGenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>Message parameters.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWrappedError">
        <xsd:annotation>
          <xsd:documentation>An array of WrappedError items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:WrappedError">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfWrappedError.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GenericFault">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Trace" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Exception calls stack trace.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Parameters" type="tns:ArrayOfGenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>Additional exception parameters.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="WrappedErrors" type="tns:ArrayOfWrappedError">
            <xsd:annotation>
              <xsd:documentation>Additional wrapped errors.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkDataImageContentInterface">
        <xsd:annotation>
          <xsd:documentation>Image Content data interface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="base64EncodedData" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Media data (base64 encoded content)</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>MIME type</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Image name</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString">
        <xsd:annotation>
          <xsd:documentation>An array of string items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfString.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkDataVideoContentInterface">
        <xsd:annotation>
          <xsd:documentation>Video Content data interface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mediaType" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>MIME type</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoProvider" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Provider</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoUrl" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Video URL</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoTitle" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Title</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoDescription" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Video Description</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoMetadata" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Metadata</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CatalogDataProductAttributeMediaGalleryEntryExtensionInterface">
        <xsd:annotation>
          <xsd:documentation>ExtensionInterface class for @see \Magento\Catalog\Api\Data\ProductAttributeMediaGalleryEntryInterface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="videoContent" type="tns:FrameworkDataVideoContentInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CatalogDataProductAttributeMediaGalleryEntryInterface">
        <xsd:annotation>
          <xsd:documentation />
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Gallery entry ID</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:min />
                <inf:max />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="mediaType" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Media type</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="label" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Gallery entry alternative text</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="position" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Gallery entry position (sort order)</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:min />
                <inf:max />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="disabled" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>If gallery entry is hidden from product page</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:default>false</inf:default>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="types" type="tns:ArrayOfString">
            <xsd:annotation>
              <xsd:documentation>Gallery entry image types (thumbnail, image, small_image etc)</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="file" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>File path</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="content" type="tns:FrameworkDataImageContentInterface">
            <xsd:annotation>
              <xsd:documentation>Media gallery content</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="extensionAttributes" type="tns:CatalogDataProductAttributeMediaGalleryEntryExtensionInterface">
            <xsd:annotation>
              <xsd:documentation>Existing extension attributes object or create a new one.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sizzixB2bCustomerPricingSaleDiscountsServiceV1ClearDownRulesRequest" nillable="true" type="tns:SizzixB2bCustomerPricingSaleDiscountsServiceV1ClearDownRulesRequest" />
      <xsd:complexType name="SizzixB2bCustomerPricingSaleDiscountsServiceV1ClearDownRulesRequest">
        <xsd:annotation>
          <xsd:documentation />
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
        </xsd:annotation>
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="sizzixB2bCustomerPricingSaleDiscountsServiceV1ClearDownRulesResponse" type="tns:SizzixB2bCustomerPricingSaleDiscountsServiceV1ClearDownRulesResponse" />
      <xsd:complexType name="SizzixB2bCustomerPricingSaleDiscountsServiceV1ClearDownRulesResponse">
        <xsd:annotation>
          <xsd:documentation>Response container for the sizzixB2bCustomerPricingSaleDiscountsServiceV1ClearDownRules call.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:default>false</inf:default>
                <inf:callInfo>
                  <inf:callName>sizzixB2bCustomerPricingSaleDiscountsServiceV1ClearDownRules</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sizzixB2bCustomerPricingSaleDiscountsServiceV1CreateRequest" type="tns:SizzixB2bCustomerPricingSaleDiscountsServiceV1CreateRequest" />
      <xsd:complexType name="SizzixB2bCustomerPricingDataDiscountInterface">
        <xsd:annotation>
          <xsd:documentation />
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="sku" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bCustomerPricingSaleDiscountsServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="custGroup" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bCustomerPricingSaleDiscountsServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bCustomerPricingSaleDiscountsServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="amount" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bCustomerPricingSaleDiscountsServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="startDate" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bCustomerPricingSaleDiscountsServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="endDate" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bCustomerPricingSaleDiscountsServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSizzixB2bCustomerPricingDataDiscountInterface">
        <xsd:annotation>
          <xsd:documentation>An array of SizzixB2bCustomerPricingDataDiscountInterface items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:SizzixB2bCustomerPricingDataDiscountInterface">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfSizzixB2bCustomerPricingDataDiscountInterface.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bCustomerPricingSaleDiscountsServiceV1Create</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SizzixB2bCustomerPricingSaleDiscountsServiceV1CreateRequest">
        <xsd:annotation>
          <xsd:documentation />
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="discounts" type="tns:ArrayOfSizzixB2bCustomerPricingDataDiscountInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>sizzixB2bCustomerPricingSaleDiscountsServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sizzixB2bCustomerPricingSaleDiscountsServiceV1CreateResponse" type="tns:SizzixB2bCustomerPricingSaleDiscountsServiceV1CreateResponse" />
      <xsd:complexType name="SizzixB2bCustomerPricingSaleDiscountsServiceV1CreateResponse">
        <xsd:annotation>
          <xsd:documentation>Response container for the sizzixB2bCustomerPricingSaleDiscountsServiceV1Create call.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1">
                <inf:default>false</inf:default>
                <inf:callInfo>
                  <inf:callName>sizzixB2bCustomerPricingSaleDiscountsServiceV1Create</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GenericFault">
    <wsdl:part name="messageParameters" element="tns:GenericFault" />
  </wsdl:message>
  <wsdl:message name="sizzixB2bCustomerPricingSaleDiscountsServiceV1ClearDownRulesRequest">
    <wsdl:part name="messageParameters" element="tns:sizzixB2bCustomerPricingSaleDiscountsServiceV1ClearDownRulesRequest" />
  </wsdl:message>
  <wsdl:message name="sizzixB2bCustomerPricingSaleDiscountsServiceV1ClearDownRulesResponse">
    <wsdl:part name="messageParameters" element="tns:sizzixB2bCustomerPricingSaleDiscountsServiceV1ClearDownRulesResponse" />
  </wsdl:message>
  <wsdl:message name="sizzixB2bCustomerPricingSaleDiscountsServiceV1CreateRequest">
    <wsdl:part name="messageParameters" element="tns:sizzixB2bCustomerPricingSaleDiscountsServiceV1CreateRequest" />
  </wsdl:message>
  <wsdl:message name="sizzixB2bCustomerPricingSaleDiscountsServiceV1CreateResponse">
    <wsdl:part name="messageParameters" element="tns:sizzixB2bCustomerPricingSaleDiscountsServiceV1CreateResponse" />
  </wsdl:message>
  <wsdl:portType name="sizzixB2bCustomerPricingSaleDiscountsServiceV1PortType">
    <wsdl:operation name="sizzixB2bCustomerPricingSaleDiscountsServiceV1ClearDownRules">
      <wsdl:input message="tns:sizzixB2bCustomerPricingSaleDiscountsServiceV1ClearDownRulesRequest" />
      <wsdl:output message="tns:sizzixB2bCustomerPricingSaleDiscountsServiceV1ClearDownRulesResponse" />
      <wsdl:fault name="GenericFault" message="tns:GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="sizzixB2bCustomerPricingSaleDiscountsServiceV1Create">
      <wsdl:input message="tns:sizzixB2bCustomerPricingSaleDiscountsServiceV1CreateRequest" />
      <wsdl:output message="tns:sizzixB2bCustomerPricingSaleDiscountsServiceV1CreateResponse" />
      <wsdl:fault name="GenericFault" message="tns:GenericFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sizzixB2bCustomerPricingSaleDiscountsServiceV1Binding" type="tns:sizzixB2bCustomerPricingSaleDiscountsServiceV1PortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sizzixB2bCustomerPricingSaleDiscountsServiceV1ClearDownRules">
      <soap12:operation soapAction="sizzixB2bCustomerPricingSaleDiscountsServiceV1ClearDownRules" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="sizzixB2bCustomerPricingSaleDiscountsServiceV1Create">
      <soap12:operation soapAction="sizzixB2bCustomerPricingSaleDiscountsServiceV1Create" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFault" />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sizzixB2bCustomerPricingSaleDiscountsServiceV1Service">
    <wsdl:port name="sizzixB2bCustomerPricingSaleDiscountsServiceV1Port" binding="tns:sizzixB2bCustomerPricingSaleDiscountsServiceV1Binding">
      <soap12:address location="https://sizzix-b2b.c3preview.co.uk/soap/all?services=sizzixB2bCustomerPricingSaleDiscountsServiceV1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>