Magento_Version2_NAV_Integration WIP/Service References/MagentoPreOrderForecasts/MagentoWSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="MagentoWSDL" targetNamespace="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
      <xsd:element name="GenericFault" type="tns:GenericFault" />
      <xsd:complexType name="GenericFaultParameter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="key" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfGenericFaultParameter">
        <xsd:annotation>
          <xsd:documentation>An array of GenericFaultParameter items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:GenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfGenericFaultParameter.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WrappedError">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="parameters" type="tns:ArrayOfGenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>Message parameters.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWrappedError">
        <xsd:annotation>
          <xsd:documentation>An array of WrappedError items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:WrappedError">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfWrappedError.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GenericFault">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Trace" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Exception calls stack trace.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Parameters" type="tns:ArrayOfGenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>Additional exception parameters.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="WrappedErrors" type="tns:ArrayOfWrappedError">
            <xsd:annotation>
              <xsd:documentation>Additional wrapped errors.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkDataImageContentInterface">
        <xsd:annotation>
          <xsd:documentation>Image Content data interface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="base64EncodedData" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Media data (base64 encoded content)</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>MIME type</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Image name</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString">
        <xsd:annotation>
          <xsd:documentation>An array of string items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfString.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkDataVideoContentInterface">
        <xsd:annotation>
          <xsd:documentation>Video Content data interface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mediaType" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>MIME type</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoProvider" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Provider</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoUrl" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Video URL</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoTitle" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Title</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoDescription" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Video Description</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoMetadata" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Metadata</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CatalogDataProductAttributeMediaGalleryEntryExtensionInterface">
        <xsd:annotation>
          <xsd:documentation>ExtensionInterface class for @see \Magento\Catalog\Api\Data\ProductAttributeMediaGalleryEntryInterface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="videoContent" type="tns:FrameworkDataVideoContentInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CatalogDataProductAttributeMediaGalleryEntryInterface">
        <xsd:annotation>
          <xsd:documentation />
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Gallery entry ID</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:min />
                <inf:max />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="mediaType" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Media type</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="label" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Gallery entry alternative text</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="position" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Gallery entry position (sort order)</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:min />
                <inf:max />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="disabled" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>If gallery entry is hidden from product page</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:default>false</inf:default>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="types" type="tns:ArrayOfString">
            <xsd:annotation>
              <xsd:documentation>Gallery entry image types (thumbnail, image, small_image etc)</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="file" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>File path</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="content" type="tns:FrameworkDataImageContentInterface">
            <xsd:annotation>
              <xsd:documentation>Media gallery content</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="extensionAttributes" type="tns:CatalogDataProductAttributeMediaGalleryEntryExtensionInterface">
            <xsd:annotation>
              <xsd:documentation>Existing extension attributes object or create a new one.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sizzixB2bPreOrdersPreOrderCandidateServiceV1CreateRequest" type="tns:SizzixB2bPreOrdersPreOrderCandidateServiceV1CreateRequest" />
      <xsd:complexType name="SizzixB2bPreOrdersPreOrderCandidateServiceV1CreateRequest">
        <xsd:annotation>
          <xsd:documentation />
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="customerId" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="expiryDate" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1Create</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sizzixB2bPreOrdersPreOrderCandidateServiceV1CreateResponse" type="tns:SizzixB2bPreOrdersPreOrderCandidateServiceV1CreateResponse" />
      <xsd:complexType name="SizzixB2bPreOrdersPreOrderCandidateServiceV1CreateResponse">
        <xsd:annotation>
          <xsd:documentation>Response container for the sizzixB2bPreOrdersPreOrderCandidateServiceV1Create call.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1Create</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItemsRequest" type="tns:SizzixB2bPreOrdersPreOrderCandidateServiceV1AddItemsRequest" />
      <xsd:complexType name="CatalogDataCustomOptionExtensionInterface">
        <xsd:annotation>
          <xsd:documentation>ExtensionInterface class for @see \Magento\Catalog\Api\Data\CustomOptionInterface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="fileInfo" type="tns:FrameworkDataImageContentInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CatalogDataCustomOptionInterface">
        <xsd:annotation>
          <xsd:documentation>Interface CustomOptionInterface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="optionId" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Option id</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="optionValue" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Option value</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="extensionAttributes" type="tns:CatalogDataCustomOptionExtensionInterface">
            <xsd:annotation>
              <xsd:documentation>Existing extension attributes object or create a new one.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCatalogDataCustomOptionInterface">
        <xsd:annotation>
          <xsd:documentation>An array of CatalogDataCustomOptionInterface items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:CatalogDataCustomOptionInterface">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfCatalogDataCustomOptionInterface.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfInt">
        <xsd:annotation>
          <xsd:documentation>An array of int items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfInt.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:min />
                <inf:max />
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BundleDataBundleOptionExtensionInterface">
        <xsd:annotation>
          <xsd:documentation>ExtensionInterface class for @see \Magento\Bundle\Api\Data\BundleOptionInterface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
      </xsd:complexType>
      <xsd:complexType name="BundleDataBundleOptionInterface">
        <xsd:annotation>
          <xsd:documentation>Interface BundleOptionInterface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="optionId" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Bundle option id.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:min />
                <inf:max />
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="optionQty" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Bundle option quantity.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:min />
                <inf:max />
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="optionSelections" type="tns:ArrayOfInt">
            <xsd:annotation>
              <xsd:documentation>Bundle option selection ids.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="extensionAttributes" type="tns:BundleDataBundleOptionExtensionInterface">
            <xsd:annotation>
              <xsd:documentation>Existing extension attributes object or create a new one.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBundleDataBundleOptionInterface">
        <xsd:annotation>
          <xsd:documentation>An array of BundleDataBundleOptionInterface items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:BundleDataBundleOptionInterface">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfBundleDataBundleOptionInterface.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ConfigurableProductDataConfigurableItemOptionValueExtensionInterface">
        <xsd:annotation>
          <xsd:documentation>ExtensionInterface class for @see \Magento\ConfigurableProduct\Api\Data\ConfigurableItemOptionValueInterface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
      </xsd:complexType>
      <xsd:complexType name="ConfigurableProductDataConfigurableItemOptionValueInterface">
        <xsd:annotation>
          <xsd:documentation>Interface ConfigurableItemOptionValueInterface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="optionId" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Option SKU</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="optionValue" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Item id</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:min />
                <inf:max />
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="extensionAttributes" type="tns:ConfigurableProductDataConfigurableItemOptionValueExtensionInterface">
            <xsd:annotation>
              <xsd:documentation>Existing extension attributes object or create a new one.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfConfigurableProductDataConfigurableItemOptionValueInterface">
        <xsd:annotation>
          <xsd:documentation>An array of ConfigurableProductDataConfigurableItemOptionValueInterface items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ConfigurableProductDataConfigurableItemOptionValueInterface">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfConfigurableProductDataConfigurableItemOptionValueInterface.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DownloadableDataDownloadableOptionInterface">
        <xsd:annotation>
          <xsd:documentation>Downloadable Option</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="downloadableLinks" type="tns:ArrayOfInt">
            <xsd:annotation>
              <xsd:documentation>The list of downloadable links</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QuoteDataProductOptionExtensionInterface">
        <xsd:annotation>
          <xsd:documentation>ExtensionInterface class for @see \Magento\Quote\Api\Data\ProductOptionInterface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="customOptions" type="tns:ArrayOfCatalogDataCustomOptionInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="bundleOptions" type="tns:ArrayOfBundleDataBundleOptionInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="configurableItemOptions" type="tns:ArrayOfConfigurableProductDataConfigurableItemOptionValueInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="downloadableOption" type="tns:DownloadableDataDownloadableOptionInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QuoteDataProductOptionInterface">
        <xsd:annotation>
          <xsd:documentation>Product option interface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="extensionAttributes" type="tns:QuoteDataProductOptionExtensionInterface">
            <xsd:annotation>
              <xsd:documentation>Existing extension attributes object or create a new one.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QuoteDataCartItemExtensionInterface">
        <xsd:annotation>
          <xsd:documentation>ExtensionInterface class for @see \Magento\Quote\Api\Data\CartItemInterface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
      </xsd:complexType>
      <xsd:complexType name="QuoteDataCartItemInterface">
        <xsd:annotation>
          <xsd:documentation>Interface CartItemInterface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="itemId" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Item ID. Otherwise, null.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:min />
                <inf:max />
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="sku" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Product SKU. Otherwise, null.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="qty" type="xsd:float">
            <xsd:annotation>
              <xsd:documentation>Product quantity.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Product name. Otherwise, null.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="price" type="xsd:float">
            <xsd:annotation>
              <xsd:documentation>Product price. Otherwise, null.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="productType" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Product type. Otherwise, null.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Quote id.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="productOption" type="tns:QuoteDataProductOptionInterface">
            <xsd:annotation>
              <xsd:documentation>Product option</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="extensionAttributes" type="tns:QuoteDataCartItemExtensionInterface">
            <xsd:annotation>
              <xsd:documentation>Existing extension attributes object or create a new one.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfQuoteDataCartItemInterface">
        <xsd:annotation>
          <xsd:documentation>An array of QuoteDataCartItemInterface items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:QuoteDataCartItemInterface">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfQuoteDataCartItemInterface.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SizzixB2bPreOrdersPreOrderCandidateServiceV1AddItemsRequest">
        <xsd:annotation>
          <xsd:documentation />
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="candidateId" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="items" type="tns:ArrayOfQuoteDataCartItemInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItemsResponse" type="tns:SizzixB2bPreOrdersPreOrderCandidateServiceV1AddItemsResponse" />
      <xsd:complexType name="SizzixB2bPreOrdersPreOrderCandidateServiceV1AddItemsResponse">
        <xsd:annotation>
          <xsd:documentation>Response container for the sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems call.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1">
                <inf:default>false</inf:default>
                <inf:callInfo>
                  <inf:callName>sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GenericFault">
    <wsdl:part name="messageParameters" element="tns:GenericFault" />
  </wsdl:message>
  <wsdl:message name="sizzixB2bPreOrdersPreOrderCandidateServiceV1CreateRequest">
    <wsdl:part name="messageParameters" element="tns:sizzixB2bPreOrdersPreOrderCandidateServiceV1CreateRequest" />
  </wsdl:message>
  <wsdl:message name="sizzixB2bPreOrdersPreOrderCandidateServiceV1CreateResponse">
    <wsdl:part name="messageParameters" element="tns:sizzixB2bPreOrdersPreOrderCandidateServiceV1CreateResponse" />
  </wsdl:message>
  <wsdl:message name="sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItemsRequest">
    <wsdl:part name="messageParameters" element="tns:sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItemsRequest" />
  </wsdl:message>
  <wsdl:message name="sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItemsResponse">
    <wsdl:part name="messageParameters" element="tns:sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="sizzixB2bPreOrdersPreOrderCandidateServiceV1PortType">
    <wsdl:operation name="sizzixB2bPreOrdersPreOrderCandidateServiceV1Create">
      <wsdl:input message="tns:sizzixB2bPreOrdersPreOrderCandidateServiceV1CreateRequest" />
      <wsdl:output message="tns:sizzixB2bPreOrdersPreOrderCandidateServiceV1CreateResponse" />
      <wsdl:fault name="GenericFault" message="tns:GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems">
      <wsdl:input message="tns:sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItemsRequest" />
      <wsdl:output message="tns:sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItemsResponse" />
      <wsdl:fault name="GenericFault" message="tns:GenericFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sizzixB2bPreOrdersPreOrderCandidateServiceV1Binding" type="tns:sizzixB2bPreOrdersPreOrderCandidateServiceV1PortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sizzixB2bPreOrdersPreOrderCandidateServiceV1Create">
      <soap12:operation soapAction="sizzixB2bPreOrdersPreOrderCandidateServiceV1Create" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems">
      <soap12:operation soapAction="sizzixB2bPreOrdersPreOrderCandidateServiceV1AddItems" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFault" />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sizzixB2bPreOrdersPreOrderCandidateServiceV1Service">
    <wsdl:port name="sizzixB2bPreOrdersPreOrderCandidateServiceV1Port" binding="tns:sizzixB2bPreOrdersPreOrderCandidateServiceV1Binding">
      <soap12:address location="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bPreOrdersPreOrderCandidateServiceV1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>