Magento_Version2_NAV_Integration WIP/Service References/MagentoAttributes/MagentoWSDL1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="MagentoWSDL" targetNamespace="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
      <xsd:element name="GenericFault" type="tns:GenericFault" />
      <xsd:complexType name="GenericFaultParameter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="key" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfGenericFaultParameter">
        <xsd:annotation>
          <xsd:documentation>An array of GenericFaultParameter items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:GenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfGenericFaultParameter.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WrappedError">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="parameters" type="tns:ArrayOfGenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>Message parameters.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWrappedError">
        <xsd:annotation>
          <xsd:documentation>An array of WrappedError items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:WrappedError">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfWrappedError.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GenericFault">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Trace" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Exception calls stack trace.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Parameters" type="tns:ArrayOfGenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>Additional exception parameters.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="WrappedErrors" type="tns:ArrayOfWrappedError">
            <xsd:annotation>
              <xsd:documentation>Additional wrapped errors.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkDataImageContentInterface">
        <xsd:annotation>
          <xsd:documentation>Image Content data interface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="base64EncodedData" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Media data (base64 encoded content)</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>MIME type</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Image name</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString">
        <xsd:annotation>
          <xsd:documentation>An array of string items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfString.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkDataVideoContentInterface">
        <xsd:annotation>
          <xsd:documentation>Video Content data interface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mediaType" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>MIME type</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoProvider" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Provider</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoUrl" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Video URL</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoTitle" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Title</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoDescription" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Video Description</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoMetadata" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Metadata</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CatalogDataProductAttributeMediaGalleryEntryExtensionInterface">
        <xsd:annotation>
          <xsd:documentation>ExtensionInterface class for @see \Magento\Catalog\Api\Data\ProductAttributeMediaGalleryEntryInterface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="videoContent" type="tns:FrameworkDataVideoContentInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CatalogDataProductAttributeMediaGalleryEntryInterface">
        <xsd:annotation>
          <xsd:documentation />
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Gallery entry ID</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:min />
                <inf:max />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="mediaType" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Media type</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="label" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Gallery entry alternative text</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="position" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Gallery entry position (sort order)</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:min />
                <inf:max />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="disabled" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>If gallery entry is hidden from product page</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:default>false</inf:default>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="types" type="tns:ArrayOfString">
            <xsd:annotation>
              <xsd:documentation>Gallery entry image types (thumbnail, image, small_image etc)</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="file" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>File path</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="content" type="tns:FrameworkDataImageContentInterface">
            <xsd:annotation>
              <xsd:documentation>Media gallery content</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="extensionAttributes" type="tns:CatalogDataProductAttributeMediaGalleryEntryExtensionInterface">
            <xsd:annotation>
              <xsd:documentation>Existing extension attributes object or create a new one.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="catalogProductAttributeOptionManagementV1GetItemsRequest" type="tns:CatalogProductAttributeOptionManagementV1GetItemsRequest" />
      <xsd:complexType name="CatalogProductAttributeOptionManagementV1GetItemsRequest">
        <xsd:annotation>
          <xsd:documentation>Retrieve list of attribute options</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="attributeCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>catalogProductAttributeOptionManagementV1GetItems</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="catalogProductAttributeOptionManagementV1GetItemsResponse" type="tns:CatalogProductAttributeOptionManagementV1GetItemsResponse" />
      <xsd:complexType name="EavDataAttributeOptionLabelInterface">
        <xsd:annotation>
          <xsd:documentation>Interface AttributeOptionLabelInterface</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="storeId" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Store id</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:min />
                <inf:max />
                <inf:callInfo>
                  <inf:callName>catalogProductAttributeOptionManagementV1Add</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="label" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Option label</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>catalogProductAttributeOptionManagementV1Add</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfEavDataAttributeOptionLabelInterface">
        <xsd:annotation>
          <xsd:documentation>An array of EavDataAttributeOptionLabelInterface items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:EavDataAttributeOptionLabelInterface">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfEavDataAttributeOptionLabelInterface.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:callInfo>
                  <inf:callName>catalogProductAttributeOptionManagementV1Add</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EavDataAttributeOptionInterface">
        <xsd:annotation>
          <xsd:documentation>Created from:</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="label" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Option label</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>catalogProductAttributeOptionManagementV1Add</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Option value</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>catalogProductAttributeOptionManagementV1Add</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="sortOrder" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Option order</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:min />
                <inf:max />
                <inf:callInfo>
                  <inf:callName>catalogProductAttributeOptionManagementV1Add</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="isDefault" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Default</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:default>false</inf:default>
                <inf:callInfo>
                  <inf:callName>catalogProductAttributeOptionManagementV1Add</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="storeLabels" type="tns:ArrayOfEavDataAttributeOptionLabelInterface">
            <xsd:annotation>
              <xsd:documentation>Option label for store scopes</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>catalogProductAttributeOptionManagementV1Add</inf:callName>
                  <inf:requiredInput>No</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfEavDataAttributeOptionInterface">
        <xsd:annotation>
          <xsd:documentation>An array of EavDataAttributeOptionInterface items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:EavDataAttributeOptionInterface">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfEavDataAttributeOptionInterface.</xsd:documentation>
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:callInfo>
                  <inf:callName>catalogProductAttributeOptionManagementV1GetItems</inf:callName>
                  <inf:returned>Conditionally</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CatalogProductAttributeOptionManagementV1GetItemsResponse">
        <xsd:annotation>
          <xsd:documentation>Response container for the catalogProductAttributeOptionManagementV1GetItems call.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="result" type="tns:ArrayOfEavDataAttributeOptionInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>catalogProductAttributeOptionManagementV1GetItems</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="catalogProductAttributeOptionManagementV1AddRequest" type="tns:CatalogProductAttributeOptionManagementV1AddRequest" />
      <xsd:complexType name="CatalogProductAttributeOptionManagementV1AddRequest">
        <xsd:annotation>
          <xsd:documentation>Add option to attribute</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="attributeCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>catalogProductAttributeOptionManagementV1Add</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="option" type="tns:EavDataAttributeOptionInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:callInfo>
                  <inf:callName>catalogProductAttributeOptionManagementV1Add</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="catalogProductAttributeOptionManagementV1AddResponse" type="tns:CatalogProductAttributeOptionManagementV1AddResponse" />
      <xsd:complexType name="CatalogProductAttributeOptionManagementV1AddResponse">
        <xsd:annotation>
          <xsd:documentation>Response container for the catalogProductAttributeOptionManagementV1Add call.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:default>false</inf:default>
                <inf:callInfo>
                  <inf:callName>catalogProductAttributeOptionManagementV1Add</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="catalogProductAttributeOptionManagementV1DeleteRequest" type="tns:CatalogProductAttributeOptionManagementV1DeleteRequest" />
      <xsd:complexType name="CatalogProductAttributeOptionManagementV1DeleteRequest">
        <xsd:annotation>
          <xsd:documentation>Delete option from attribute</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="attributeCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>catalogProductAttributeOptionManagementV1Delete</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="optionId" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>catalogProductAttributeOptionManagementV1Delete</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="catalogProductAttributeOptionManagementV1DeleteResponse" type="tns:CatalogProductAttributeOptionManagementV1DeleteResponse" />
      <xsd:complexType name="CatalogProductAttributeOptionManagementV1DeleteResponse">
        <xsd:annotation>
          <xsd:documentation>Response container for the catalogProductAttributeOptionManagementV1Delete call.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:default>false</inf:default>
                <inf:callInfo>
                  <inf:callName>catalogProductAttributeOptionManagementV1Delete</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItemsRequest" type="tns:SizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItemsRequest" />
      <xsd:complexType name="SizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItemsRequest">
        <xsd:annotation>
          <xsd:documentation>Retrieve list of attribute options</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="attributeCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItems</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItemsResponse" type="tns:SizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItemsResponse" />
      <xsd:complexType name="SizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItemsResponse">
        <xsd:annotation>
          <xsd:documentation>Response container for the sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItems call.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="result" type="tns:ArrayOfEavDataAttributeOptionInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItems</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="catalogCategoryAttributeOptionManagementV1GetItemsRequest" type="tns:CatalogCategoryAttributeOptionManagementV1GetItemsRequest" />
      <xsd:complexType name="CatalogCategoryAttributeOptionManagementV1GetItemsRequest">
        <xsd:annotation>
          <xsd:documentation>Retrieve list of attribute options</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="attributeCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:maxLength />
                <inf:callInfo>
                  <inf:callName>catalogCategoryAttributeOptionManagementV1GetItems</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="catalogCategoryAttributeOptionManagementV1GetItemsResponse" type="tns:CatalogCategoryAttributeOptionManagementV1GetItemsResponse" />
      <xsd:complexType name="CatalogCategoryAttributeOptionManagementV1GetItemsResponse">
        <xsd:annotation>
          <xsd:documentation>Response container for the catalogCategoryAttributeOptionManagementV1GetItems call.</xsd:documentation>
          <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="result" type="tns:ArrayOfEavDataAttributeOptionInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>catalogCategoryAttributeOptionManagementV1GetItems</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GenericFault">
    <wsdl:part name="messageParameters" element="tns:GenericFault" />
  </wsdl:message>
  <wsdl:message name="catalogProductAttributeOptionManagementV1GetItemsRequest">
    <wsdl:part name="messageParameters" element="tns:catalogProductAttributeOptionManagementV1GetItemsRequest" />
  </wsdl:message>
  <wsdl:message name="catalogProductAttributeOptionManagementV1GetItemsResponse">
    <wsdl:part name="messageParameters" element="tns:catalogProductAttributeOptionManagementV1GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="catalogProductAttributeOptionManagementV1AddRequest">
    <wsdl:part name="messageParameters" element="tns:catalogProductAttributeOptionManagementV1AddRequest" />
  </wsdl:message>
  <wsdl:message name="catalogProductAttributeOptionManagementV1AddResponse">
    <wsdl:part name="messageParameters" element="tns:catalogProductAttributeOptionManagementV1AddResponse" />
  </wsdl:message>
  <wsdl:message name="catalogProductAttributeOptionManagementV1DeleteRequest">
    <wsdl:part name="messageParameters" element="tns:catalogProductAttributeOptionManagementV1DeleteRequest" />
  </wsdl:message>
  <wsdl:message name="catalogProductAttributeOptionManagementV1DeleteResponse">
    <wsdl:part name="messageParameters" element="tns:catalogProductAttributeOptionManagementV1DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItemsRequest">
    <wsdl:part name="messageParameters" element="tns:sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItemsRequest" />
  </wsdl:message>
  <wsdl:message name="sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItemsResponse">
    <wsdl:part name="messageParameters" element="tns:sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="catalogCategoryAttributeOptionManagementV1GetItemsRequest">
    <wsdl:part name="messageParameters" element="tns:catalogCategoryAttributeOptionManagementV1GetItemsRequest" />
  </wsdl:message>
  <wsdl:message name="catalogCategoryAttributeOptionManagementV1GetItemsResponse">
    <wsdl:part name="messageParameters" element="tns:catalogCategoryAttributeOptionManagementV1GetItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="catalogProductAttributeOptionManagementV1PortType">
    <wsdl:operation name="catalogProductAttributeOptionManagementV1GetItems">
      <wsdl:input message="tns:catalogProductAttributeOptionManagementV1GetItemsRequest" />
      <wsdl:output message="tns:catalogProductAttributeOptionManagementV1GetItemsResponse" />
      <wsdl:fault name="GenericFault" message="tns:GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="catalogProductAttributeOptionManagementV1Add">
      <wsdl:input message="tns:catalogProductAttributeOptionManagementV1AddRequest" />
      <wsdl:output message="tns:catalogProductAttributeOptionManagementV1AddResponse" />
      <wsdl:fault name="GenericFault" message="tns:GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="catalogProductAttributeOptionManagementV1Delete">
      <wsdl:input message="tns:catalogProductAttributeOptionManagementV1DeleteRequest" />
      <wsdl:output message="tns:catalogProductAttributeOptionManagementV1DeleteResponse" />
      <wsdl:fault name="GenericFault" message="tns:GenericFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1PortType">
    <wsdl:operation name="sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItems">
      <wsdl:input message="tns:sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItemsRequest" />
      <wsdl:output message="tns:sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItemsResponse" />
      <wsdl:fault name="GenericFault" message="tns:GenericFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="catalogCategoryAttributeOptionManagementV1PortType">
    <wsdl:operation name="catalogCategoryAttributeOptionManagementV1GetItems">
      <wsdl:input message="tns:catalogCategoryAttributeOptionManagementV1GetItemsRequest" />
      <wsdl:output message="tns:catalogCategoryAttributeOptionManagementV1GetItemsResponse" />
      <wsdl:fault name="GenericFault" message="tns:GenericFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="catalogProductAttributeOptionManagementV1Binding" type="tns:catalogProductAttributeOptionManagementV1PortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="catalogProductAttributeOptionManagementV1GetItems">
      <soap12:operation soapAction="catalogProductAttributeOptionManagementV1GetItems" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="catalogProductAttributeOptionManagementV1Add">
      <soap12:operation soapAction="catalogProductAttributeOptionManagementV1Add" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFault" />
    </wsdl:operation>
    <wsdl:operation name="catalogProductAttributeOptionManagementV1Delete">
      <soap12:operation soapAction="catalogProductAttributeOptionManagementV1Delete" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFault" />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1Binding" type="tns:sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1PortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItems">
      <soap12:operation soapAction="sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1GetItems" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFault" />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="catalogCategoryAttributeOptionManagementV1Binding" type="tns:catalogCategoryAttributeOptionManagementV1PortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="catalogCategoryAttributeOptionManagementV1GetItems">
      <soap12:operation soapAction="catalogCategoryAttributeOptionManagementV1GetItems" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFault" />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="catalogProductAttributeOptionManagementV1Service">
    <wsdl:port name="catalogProductAttributeOptionManagementV1Port" binding="tns:catalogProductAttributeOptionManagementV1Binding">
      <soap12:address location="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1Service">
    <wsdl:port name="sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1Port" binding="tns:sizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1Binding">
      <soap12:address location="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="catalogCategoryAttributeOptionManagementV1Service">
    <wsdl:port name="catalogCategoryAttributeOptionManagementV1Port" binding="tns:catalogCategoryAttributeOptionManagementV1Binding">
      <soap12:address location="https://sizzix-b2b.c3preview.co.uk/soap/all?services=catalogProductAttributeOptionManagementV1%2CsizzixB2bCustomerAttributeOptionsApiCustomerAttributeOptionManagementV1%2CcatalogCategoryAttributeOptionManagementV1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>